<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>학생 등록</title>
</head>
<body>
<h1><span th:text="#{studentRegister}" ></span></h1>
<form th:action="@{/student/register}" method="post">
  <div>
    <label>ID:</label>
    <input type="text" name="id"/>
  </div>
  <div>
    <label><span th:text="#{password}"></span>:</label>
    <input type="password" name="password"/>
  </div>
  <div>
    <label><span th:text="#{name}"></span>:</label>
    <input type="text" name="name"/>
  </div>
  <div>
    <label><span th:text="#{email}" ></span>:</label>
    <input type="text" name="email"/>
  </div>
  <div>
    <label><span th:text="#{score}" ></span>:</label>
    <input type="number" name="score"/>
  </div>
  <div>
    <label><span th:text="#{comment}" ></span>:</label>
    <textarea name="comment" rows="5" cols="50"></textarea>
  </div>
  <button type="submit"><span th:text="#{register}" ></span></button>
</form>
<a href="?locale=ko">ko</a><br />
<a href="?locale=en">en</a><br />
</body>
</html>
